DORIS_HOST=127.0.0.1
DORIS_SQL_PORT=9030
DORIS_FE_URL=http://127.0.0.1:8030
DORIS_USER=your_doris_user
DORIS_PASSWORD=

DORIS_SILVER_DB=udise_silver
DORIS_GOLD_DB=udise_gold
DORIS_AUDIT_DB=udise_audit
DORIS_REPLICATION_NUM=1
DORIS_BUCKETS=2
